<section class="h-[100vh] flex flex-col-reverse">
    <button class="login proxima-light">SIGN UP</button>
    <button class="login proxima-light">LOG IN</button>

    <img src='/assets/logo.png' class="m-auto" alt="gone coins">
</section>