/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

header {
    width: 100%;
    padding: 5px 10px;
}

main {
  padding: 20% 20px 10px;
  height: 100vh;
}

section {
  height: 88vh;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.align-middle {
    align-items: center;
}

.flex-col-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.justify-between {
    justify-content: space-between;
}

.bg-primary {
    background-color: #3778C2;
}

.bg-secondary {
    background-color: #5FB523
}

.bg-tertiary {
    background-color: #434B54;
}

.text-primary {
    color: #3778C2;
}

.text-secondary {
    color: #5FB523;
}

.text-tertiary {
    color: #434B54;
}

.text-white {
    color: #FFFFFF;
}

.hamburger-size {
    font-size: 3.5em;
}

.proxima-bold {
    font-family: 'proxima-nova-2', sans-serif;
    font-weight: bold;
}

.proxima-regular {
    font-family: 'proxima-nova-2', sans-serif;
    font-weight: 400;
}

.proxima-light {
    font-family: 'proxima-nova-2', sans-serif;
    font-weight: lighter;
    opacity: 0.6;
}

.login {
    font-size: 2em;
    padding: 10px 0;
    text-align: center;
}

button:active,
.login:active {
    color: #5FB523;
    background-color: #3778C2;
}

.m-auto {
  margin: auto;
}

.text-2xl {
  font-size: 1.5em;
}

form {
  margin: 30px -20px;
}

input {
    width: 100vw;
    border: 1px solid #0004;
    padding: 20px !important;
    font-size: 1.5em !important;
}